* {
	margin: 0px;
	padding: 0px;
}

.body {
	position: relative;
}

#menu {
	padding-right: 100px;
	height: 80px;
	padding-top: 20px;
	font-size: 20px;
	width: 100%;
	position: fixed;
	z-index: 9999;
}
#menu a {
	color: chocolate;
	font-family: arial;
}

.bachkhoa {
	background-image: url("./images/bachkhoa.jpg");
	background-repeat: no-repeat;
	height: 900px;
	background-size: cover;
}

#anh img {
    border-radius: 60%;
}

.col-sm-6.honor td {
    padding-left: 12px;
}

.col-sm-8.skill td {
    padding-left: 10px;
}
.col-sm-6.activity td {
    padding-left: 10px;
}